
.container {
    display: none;
}

@media screen and (max-width: 650px) {
    .container {
        display: block;
        overflow-x: hidden;
    }

    .nav {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 210vh;
        top: 68px;
        left: 0;
        background-color: rgb(7,7,36);
    }

    .ul {
        margin: 0 auto;
        height: auto;
        list-style: none;
        padding: 1rem;
    }

    .li {
        margin: 0 auto;
        border-bottom: 1px solid rgb(56,56,79);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 65px;
    }

    .li:hover {
        cursor: pointer;
    }

    .li:last-child{
        border-bottom: none;
    }

    .leftFlex {
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .highlight {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .planetName {
        width: 60%;
        text-align: left;
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.05rem;
        font-weight: 500;
    }

    .rightFlex {
        margin-right: .5rem;
    }

    .svgArrow {
        fill: #838391;
        width: 10px;
    }

    
}