
.container {
    z-index: 2;
    position: absolute;
    border-bottom: 1px solid rgb(56,56,79);
    background-color: transparent;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
}

.leftFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 30px;
    color: rgb(255,255,255);
    font-family: 'Antonio', sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
}

.nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    color: rgba(255,255,255, .8);
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
}

.ul {
    list-style: none;
    
}

.li {
    display: inline;
    padding: 2rem 0rem;
    margin: 0 1rem;
    height: 82px;
}

.li:hover {
    cursor: pointer;
    color: rgb(255,255,255);
}

@media screen and (max-width: 900px) {
    .container {
        height: 160px;
        flex-direction: column;
    }
    .leftFlexContainer {
        width: 100%;
        margin: 0 auto;
    }
    .nav {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px) {
    
    .li {
        margin: 0 .5rem;
    }
}