
.container {
    background-color: rgb(7,7,36);
    width: 100%;
    padding-top: 85px;
    background-color: rgb(7,7,36);
    background-image: url('../public/assets/background-stars.svg');
    background-repeat: repeat;
    background-size: contain;
}

.flexContainer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 675px;
}

@media screen and (max-width: 900px) {
    .flexContainer {
        border: 1px solid red;
        flex-direction: column;
        height: max-content;
        padding: 5rem 0;
        margin-top: 76px;
    }
}