
.container {
    background-color: rgb(7,7,36);
    width: 100%;
    padding-top: 85px;
    background-image: url('../public/assets/background-stars.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    height: auto;
}