

.container {
    border: 1px solid white;
    width: 50%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoTextContainer {
    border: 1px solid red;
    width: 50%;

}

.buttonContainer {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 176px;
}

.button {
    width: 350px;
    height: 48px;
    text-align: left;
    background-color: transparent;
    border: 1px solid rgb(56,56,79);
    color: white;
}

.button:hover {
    background-color: #838391;
}

.buttonTextSpan {
    color: #838391;
}