
.container {
    width: 50%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageFlexContainer {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.img {
    width: 90%;
    height: auto;
}

.hoverContainer {
    z-index: 2;
    position: absolute;
    top: 500px;
}

.imgHover {
    width: 165px;
    height: auto;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        height: auto;
    }

    .imageFlexContainer {
        justify-content: center;
    }

    .hoverContainer {
        top: 550px;
    }
}

@media screen and (max-width: 650px) {

    .img {
        width: 50%;
        height: auto;
    }
}