
.container {
    width: 50%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageFlexContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.img {
    width: 90%;
    height: auto;
}

.hoverContainer {
    z-index: 2;
    position: absolute;
    top: 500px;
}

.imgHover {
    width: 165px;
    height: auto;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        height: 600px;
        margin-top: -5rem;
    }

    .imageFlexContainer {
        justify-content: center;
    }

    .hoverContainer {
        top: 550px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        margin-top: -2.5rem;
    }

    .img {
        width: 80%;
        height: auto;
    }

    .hoverContainer {
        top: 450px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        height: 400px;
    }

    .hoverContainer {
        top: 380px;
    }

    .imgHover {
        width: 100px;
        height: auto;
    }
}