
.container {
    border: 1px solid white;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imageFlexContainer {
    border: 1px solid gold;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.img {
    width: 90%;
    height: auto;
}

.hoverContainer {
    z-index: 2;
    position: absolute;
    top: 50%;
}

.imgHover {
    width: 165px;
    height: auto;
    
}