
/* font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif; */

.container {
    width: 100%;
    height: auto;
    margin: 3rem auto 0 auto;
    max-width: 1440px;
}

.flexContainer {
    margin: 0 auto;
    width: 80%;
    height: 175px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.statBox {
    width: 250px;
    height: 125px;
    border: 1px solid rgb(56,56,79);
    display: flex;
    flex-direction: column;
}

.statBoxSpan {
    margin-top: 1.5rem;
    color: #838391;
    font-family: 'Spartan', sans-serif;
    font-size: .75rem;
    margin-left: 1rem;
    font-weight: 600;
}

.statBoxH2 {
    margin-top: .5rem;
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 1rem;
}

@media screen and (max-width: 1300px) {
    .flexContainer {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .flexContainer {
        width: 100%;
    }

    .statBox {
        width: 200px;
    }
    .statBoxH2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .flexContainer {
        width: 100%;
    }

    .statBox {
        width: 162px;
    }
    
}

@media screen and (max-width: 768px) {
    .flexContainer {
        width: 100%;
    }

    .statBox {
        width: 20%;
        height: 82px;
    }

    .statBoxSpan {
        font-size: .6rem;
        margin-top: 1rem;
    }
    
    .statBoxH2 {
        font-size: 1.35rem;
        margin-top: .25rem;
    }
    
}

@media screen and (max-width: 650px) {
    .flexContainer {
        flex-direction: column;
        height: auto;
        padding: 1rem 0 2rem 0;
    }

    .statBox {
        width: 90%;
        margin: .5rem 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 .75rem;
        height: 46px;
    }

    .statBoxH2 {
        font-size: 1.20rem;
        display: flex;
        padding-top: .25rem;
        
    }
}