
/* font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif; */

.container {
    border: 1px solid white;
    width: 50%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoTextContainer {
    border: 1px solid red;
    width: 50%;
}

.infoTextContainerH1 {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

.infoTextContainerP {
    color: white;
}

.infoTextContainerH3 {
    color: #838391;
    font-weight: 100;
}

.infoTextContainerSpan {
    color: #838391;
    font-weight: 700;
    text-decoration: underline;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 176px;
}

.button {
    width: 350px;
    height: 48px;
    text-align: left;
    background-color: transparent;
    border: 1px solid rgb(56,56,79);
    color: white;
}

.button:hover {
    background-color: #838391;
}

.buttonTextSpan {
    color: #838391;
}
